<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>EPUB</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.idpf.epub-container</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>LaTeX Project Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Gemtext Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>info.futuretextlab.gemtext</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>LaTeX Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.tex</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Importable Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xml</string>
				<string>public.html</string>
				<string>public.xhtml</string>
				<string>org.oasis-open.opendocument.text</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>com.microsoft.word.doc</string>
				<string>net.daringfireball.markdown</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.pdf</string>
				<string>org.tug.tex.bibtex</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>public.tar-archive</string>
				<string>net.sourceforge.bibdesk.ris</string>
				<string>info.futuretextlab.endnote-tagged</string>
				<string>info.futuretextlab.typst</string>
				<string>org.asciidoc</string>
				<string>info.futuretextlab.restructuredtext</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIconName</key>
	<string>Ori-logo-2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>info.futuretextlab.origamitext</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>origamitext</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Typst Document</string>
			<key>UTTypeIdentifier</key>
			<string>info.futuretextlab.typst</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>typ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AsciiDoc Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.asciidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>adoc</string>
					<string>asciidoc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>reStructuredText Document</string>
			<key>UTTypeIdentifier</key>
			<string>info.futuretextlab.restructuredtext</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rst</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>EndNote Citation</string>
			<key>UTTypeIdentifier</key>
			<string>info.futuretextlab.endnote-tagged</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>enw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RIS Citation</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.bibdesk.ris</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ris</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Gemtext Document</string>
			<key>UTTypeIdentifier</key>
			<string>info.futuretextlab.gemtext</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gmi</string>
					<string>gemini</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/gemini</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Origami Document</string>
			<key>UTTypeIdentifier</key>
			<string>info.futuretextlab.origami-doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>origamitext</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Where Have I Read This?</string>
			</dict>
			<key>NSMessage</key>
			<string>findInMyReading</string>
			<key>NSPortName</key>
			<string>Origami Text</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>None</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
